# игнорировать все в корне, кроме каталога "wp-content".
# !wp-content/

# игнорировать все в каталоге "wp-content", кроме:
wp-content/*
!wp-content/backups-dup-lite/
!wp-content/languages/
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/smush-webp/
!wp-content/themes/
!wp-content/upgrade/
# !wp-content/uploads/
!wp-content/index.php

# игнорировать эти плагины
# wp-content/plugins/hello.php

# игнорировать определенные темы
# wp-content/themes/twenty*/

# игнорировать каталоги зависимостей узла
# node_modules/

# игнорировать файлы журналов и базы данных
# *.log
# *.sql
# *.sqlite
